#round{
    border-radius: 50%;
    width: 80px;
    object-fit: cover;
}
#footer{
    text-align: center;
}
.body{
    background-color: rgb(203, 245, 234);
    border-radius: 2%;
    height: 50vh;
    min-height: 500px;
    background-image: url(image/pex.bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;

}
#contact{
    font-size: x-small;
    text-align: center;
    margin-top: 0%;
}
.navlink{
    display: flex;
    text-align: center;
    gap: 10%;
    font-size: x-small;
         }

#navbarlink{
    display: flex;
    gap: 10%;
    font-size: x-small;
}
#paragraph{
    font-size: small;
    width: 350px;
    height: 50%;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 5px;

}
#body{
    background: url(image/color.bg) center center cover no-repeat fixed;
}
.paragraph{
    text-decoration-color: blue;
}
.bg{
    height: 50vh;
    min-height: 500px;
    background-image: url(image/color.bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    border-radius: 3px;
}
#navbrlink{
  display: flex;  
  display: flex;
  gap: 10%;
  font-size: x-small;
  background-color: black;
  color: blanchedalmond;

}
.bb{
    height: 50vh;
    min-height: 500px;
    background-image: url(image/work.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    border-radius: 3px;
}
#parag{
    font-size: smaller;
    width: 350px;
    height: 50%;
    border: 1px solid wheat;
    padding: 1px;
    margin: 20px;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 5px;

}
#bb{
    background-color:lightseagreen;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  
  /* instagram */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  #heading{
background-color: aliceblue;
text-align: center;
height: 20%;
  }
  #work{
    text-align: center;
    margin-bottom: 5%;
    font-size: small;
    
  }
  @media screen and (min-width:280) and( max-width:500){
    #round{
      border-radius: 50%;
      width: 80px;
      object-fit: cover;
  }
  #footer{
      text-align: center;
  }
  .body{
      background-color: rgb(203, 245, 234);
      border-radius: 2%;
      height: 50vh;
      min-height: 500px;
      background-image: url(image/pex.bg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: white;
  
  }
  #contact{
      font-size: x-small;
      text-align: center;
      margin-top: 0%;
  }
  .navlink{
      display: flex;
      text-align: center;
      gap: 10%;
      font-size: x-small;
           }
  
  #navbarlink{
      display: flex;
      gap: 10%;
      font-size: x-small;
  }
  #paragraph{
      font-size: small;
      width: 350px;
      height: 50%;
      border: 1px solid black;
      padding: 50px;
      margin: 20px;
      margin-top: 5%;
      margin-left: 20%;
      border-radius: 5px;
  
  }
  #body{
      background: url(image/color.bg) center center cover no-repeat fixed;
  }
  .paragraph{
      text-decoration-color: blue;
  }
  .bg{
      height: 50vh;
      min-height: 500px;
      background-image: url(image/color.bg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: white;
      border-radius: 3px;
  }
  #navbrlink{
    display: flex;  
    display: flex;
    gap: 10%;
    font-size: x-small;
  
  }
  .bb{
      height: 50vh;
      min-height: 500px;
      background-image: url(image/work.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: white;
      border-radius: 3px;
  }
  #parag{
      font-size: smaller;
      width: 350px;
      height: 50%;
      border: 1px solid wheat;
      padding: 1px;
      margin: 20px;
      margin-top: 5%;
      margin-left: 20%;
      border-radius: 5px;
  
  }
  #bb{
      background-color:lightseagreen;
  }
  
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
    }
    
    
    .fa:hover {
      opacity: 0.7;
    }
    
    
    
    /* instagram */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    #heading{
  background-color: aliceblue;
  text-align: center;
  height: 20%;
    }
    #work{
      text-align: center;
      margin-bottom: 5%;
      font-size: small;
    }
  
    }

    
  

