#round{
    border-radius: 50%;
    width: 80px;
    object-fit: cover;
}
#footer{
    text-align: center;
}
.body{
    background-color: rgb(203, 245, 234);
    border-radius: 2%;
    height: 50vh;
    min-height: 500px;
    background-image: url(image/pex.bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;

}
#contact{
    font-size: x-small;
    text-align: center;
    margin-top: 0%;
}
.navlink{
    display: flex;
    text-align: center;
    gap: 10%;
    font-size: x-small;
}
#navbarlink{
    display: flex;
    gap: 10%;
    font-size: x-small;
}
#paragraph{
    font-size: small;
    width: 350px;
    height: 50%;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    margin-top: 20%;
    margin-left: 30%;
    border-radius: 5px;

}
#body{
    background: url(image/color.bg) center center cover no-repeat fixed;
}
.paragraph{
    text-decoration-color: blue;
}
.bg{
    height: 50vh;
    min-height: 500px;
    background-image: url(image/color.bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    border-radius: 3px;
}
#navbrlink{
  display: flex;  
  display: flex;
  gap: 10%;
  font-size: x-small;

}
.bb{
    height: 50vh;
    min-height: 500px;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    border-radius: 3px;
}

